pl:
  app:
    name: <%= app_name %>
  back: Wstecz
  confirm:
    delete: Czy na pewno chcesz usunąć ten obiekt?
  dashboard: Pulpit
  destroy: Usuń
  edit: Edytuj
  forgot_password: Przypomnienie hasła
  login: Zaloguj się
  register: Zarejestruj się
  send: Zapisz
  show: Pokaż
