<!DOCTYPE html>
<html lang="<%%= I18n.locale %>">
<head>
  <title><%%= t 'app.name' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext', media: 'all' %>
  <%%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', media: 'all' %>
  <%%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all' %>
  <%%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%%= yield(:stylesheets) %>
  <%%= csrf_meta_tags %>
  <%%#= action_cable_meta_tag %>
</head>
<body class="<%%= layout_body_css_class %>">
  <%%= content_for?(:content) ? yield(:content) : yield %>
  <%%= yield(:js_libraries) %>
  <%%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' %>
  <%%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</body>
</html>
