<%% content_for :content do %>
  <div class="container">
    <%%= render partial: 'flash/notifications' if flash.present? %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <div class="jumbotron">
          <%%= yield %>
        </div>
      </div>
    </div>
  <div>
<%% end %>
<%%= render template: 'layouts/base' %>
