<p><%%= t '.header', email: @resource.email %></p>
<p><%%= t '.info' %></p>
<p><%%= t '.what_to_do' %></p>
<p><%%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%%= t '.security' %></p>
